@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
  }

  .wallet-connect {
    background-color: green !important;
    color: white;
  }

  .wallet-connect:hover {
    background-color: 1px transparent !important;
    color: white;
  }